<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hello ~ {{ name }}</title>
</head>
<body>
  <h1>hello ~ {{ name }}</h1>
  <p>http://127.0.0.1:3333/hello</p>
  
  <p>http://127.0.0.1:3333/hello?name=boloog</p>
  

</body>
</html>